@page
@model WebApp.UI2.Pages.MyBooks.ProductCategories.IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Product Categories </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Product Categories</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><a class="btn btn-success" asp-page="/MyBooks/ProductCategories/Add">Add New Product Category</a></h3>
                        </div>
                        <input type="hidden" value="@userId" id="userId" />
                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            @if (Model.ProductCategories != null)
                            {
                                <partial name="_ProductCategoryPartial" model="@Model.ProductCategories" />
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        var apiUrl = '@Model.ApiUrl';
        function confirmAction(e) {
            let confirmAction = confirm("Are you sure to delete this product?");
            if (confirmAction) {
                //  alert("Action successfully executed");
                removeProduct(e);
            } else {
                alert("Action canceled");
            }
        };

        var getProducts = function () {
            axios.get('/Partials/GetProductCategoriesPartialView')
                .then(res => {
                    console.log(res);
                    $("#product-main").html(res.data.modelString);
                   
                   // var html = res.data;
                    //var el = document.getElementById('product-main');
                    //el.outerHTML = html;
                })
        }

        var removeProduct = function (e) {
            let fyrId = e.target.dataset.categoryId;
            let el = document.getElementById('userId');
            let userAccessToken = el.value;
            console.log(fyrId);

            axios.delete(apiUrl + "/api/ProductCategories/DeleteProductCategory?id=" + fyrId, {
                headers: {
                    Authorization: "Bearer " + userAccessToken
                }
            }).then(res => {
                console.log(res);
                if (res.data.success) {
                   // alert(res.data.message)
                    toastr.success(res.data.message)
                }
                window.location.reload();
                //getProducts();
                //$("#productCategoryTable").DataTable();
            })
                .catch(err => {
                    alert(err.error);
                })

        }
        $(function () {
            $("#productCategoryTable").DataTable();
            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //    "responsive": false,
            //});
        });
    </script>
}