@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Accounting On Web</h1> <h2> Online Accounting Solution.</h2>
   @* <p>PayPal Payment <a href="https://paypal.me/TNDITSolutions?locale.x=en_GB">building Web apps with ASP.NET Core</a>.</p>
    <p>Payment <a href="Payment/PayUMoney">building Web apps with ASP.NET Core</a>.</p>
    <p>Stripe <a href=" https://buy.stripe.com/28oeW5cjvcC68A8dQQ">Stripe 1 Month Rs</a>.</p>
    <p>Stripe USD<a href="https://buy.stripe.com/00g8xH6Zb8lQg2A001">Stripe 1 Month USD</a>.</p>*@

</div>
@*<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"description":"1 Month Recharge","amount":{"currency_code":"USD","value":1}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

            // Show a success message within this page, e.g.
            const element = document.getElementById('paypal-button-container');
            element.innerHTML = '';
            element.innerHTML = '<h3>Thank you for your payment!</h3>';

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>*@
<div class="jumbotron">
    <div class="text-justify">
        <p>
            User can create and maintain all types of vouchers.
            <br />
            <div class="row">

                <div class="col-md-4">
                    <ul>
                        <li>
                            Sale Invoice
                        </li>
                        <li>
                            Sale Return
                        </li>
                        <li>
                            Credit Note
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            Purchase Bill
                        </li>
                        <li>
                            Purchase Return
                        </li>
                        <li>
                            Debit Note
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            Jorurnal Entry
                        </li>
                        <li>
                            Payment
                        </li>
                        <li>
                            Receipt
                        </li>
                    </ul>
                </div>
            </div>
        </p>
        <p>
            Reports
            <br />
            <div class="row">

                <div class="col-md-6">
                    <ul>
                        <li>
                            By Ledger (Customer , Supplier , Cash etc)
                        </li>
                        <li>
                            All Reports By Voucher (Sale / Purchase To From by Date Report)
                        </li>
                        <li>
                            Stock / Store Reports
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>
                            Bank Reconcilation
                        </li>
                        <li>
                            Trial Balance
                        </li>
                        <li>
                            Balance Sheet
                        </li>
                    </ul>
                </div>

            </div>
        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <p>
            E-Accouting , is the single most effective way to increase the productivity of your bussiness ,
            Can run accross all borders  worldwide in every possible way.
        </p>

        <p>
            We offer you to create multiple companies with multiple branches , with multiple financial years.
            Your Company data will be highly secure and protected in highly secure servers. So you never loose your data in any circumtances.
            No one access your company data without proper roles and login crediantials.
        </p>

    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ms5A3bCvuwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

</div>


