@page
@model WebApp.UI2.Pages.MyBooks.LedgerCategories.UpdateModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Ledger Category Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/MyBooks/LedgerCategories/index">Ledger Categories</a></li>
                        <li class="breadcrumb-item active">Update Ledger Category</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Update Ledger Category</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" value="@Model.Input.Id" id="categoryId" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Name" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>

                            </form>
                        </div>

                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button onclick="UpdateLedgerCategory(event)" class="btn btn-info float-right" style="margin-left:20px">Update</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->


    </section>

</div>
<input type="hidden" value="@userId" id="userId" />

@section scripts{
    @*<script src="~/js/product.js"></script>*@
    <script>
       var apiUrl = '@Model.ApiUrl';

        function UpdateLedgerCategory(e) {
           // let confirmAction = confirm("Are you sure to delete this product?");
            performPostRequest(e);
        }

        var updateLedgerCategoryRequest = {
            id: "3fa85f64-5717-4562-b3fc-2c963f66afa6",
            name: "f1",
            companyId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        };
        function performPostRequest(e) {
            let userId = document.getElementById('userId');
            let categoryName = document.getElementById('Input_Name').value;
            let categoryId = document.getElementById('categoryId').value;
            updateLedgerCategoryRequest.name = categoryName;
            updateLedgerCategoryRequest.id = categoryId;

            let userAccessToken = userId.value;
            console.log(this.updateLedgerCategoryRequest);

            axios.put(`${apiUrl}/api/LedgerCategory/UpdateLedgerCategory`, this.updateLedgerCategoryRequest, {
                headers: {
                    Authorization: "Bearer " + userAccessToken
                }
            })
                 .then(function (response) {
                     console.log(response);
                     if (response.data.success) {
                         toastr.success(response.data.description)
                         window.location.href = '/MyBooks/LedgerCategories/index'
                     } else {
                         toastr.error(response.data.description)
                     }
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error('Some Error Occur!!')
                });
            e.preventDefault();
        }
    </script>
}