@page
@model IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}
<h1>Companies</h1>
<a class="btn btn-success" asp-page="/Companies/Add">Add New Company</a>
<br />
<br />
<input type="hidden" value="@userId" id="userId" />
<div id="product-main">
    @if (Model.Companies != null)
    {
        <partial name="_CompanyListPartial" model="@Model.Companies.OrderBy(x=>x.Name)" />
    }
</div>

<style>
    .loading-indicator:before {
        content: '';
        background: #000000cc;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .loading-indicator:after {
        content: 'Loading';
        position: fixed;
        width: 100%;
        top: 50%;
        left: 0;
        z-index: 1001;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
</style>

@section scripts{

    <script>
     var apiUrl = '@Model.ApiUrl';


    function confirmAction(e) {
        let confirmAction = confirm("Are you sure to delete this company?");
        if (confirmAction) {
            //  alert("Action successfully executed");
            removeCompany(e);
        } else {
            //alert("Action canceled");
        }
    }

    var getProducts = function () {
        axios.get('/UserAccount/GetAdminProductsPartialView')
            .then(res => {
                var html = res.data;
                var el = document.getElementById('product-main');

                el.outerHTML = html;
            })
    }

        var removeCompany = function (e) {
        let productId = e.target.dataset.productId;
        let el = document.getElementById('userId');
        let userAccessToken = el.value;
        console.log(userAccessToken);


            axios.delete(apiUrl + "/api/Company/DeleteCompany?id=" + productId, {
            headers: {
                Authorization: "Bearer " + userAccessToken
            }
        })
            .then(res => {
                console.log(res);
                if (res.data.success) {
                    alert(res.data.msg)
                }
                getProducts();
            })
            .catch(err => {
                alert(err.error);
            })

    }
    </script>
}