@page
@model WebApp.UI2.Pages.MyBooks.Ledgers.IndexModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Ledgers </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Ledgers </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><a class="btn btn-success" asp-page="/MyBooks/Ledgers/Add">Add New Ledger </a></h3>
                        </div>
                        <input type="hidden" value="@userId" id="userId" />
                        <!-- /.card-header -->
                        <div class="card-body" id="product-main">
                            @if (Model.Ledgers != null)
                            {
                                <partial name="_LedgerListPartial" model="@Model.Ledgers" />
                            }

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{
    <script>
        var apiUrl = '@Model.ApiUrl';
        $(function () {
            DataTableInit();
        });

        function DataTableInit() {
            $("#ledgerTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#ledgerTable_wrapper .col-md-6:eq(0)');
        }

        function confirmAction(e) {
            let confirmAction = confirm("Are you sure to delete this product?");
            if (confirmAction) {
                //  alert("Action successfully executed");
                removeProduct(e);
            } else {
                alert("Action canceled");
            }
        };

        var getLedgers = function () {
            axios.get('/Partials/GetLedgerPartialView')
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('resultTable');
                    el.outerHTML = html;
                    DataTableInit();
                    console.log(res);
                })
        }

        var removeProduct = function (e) {
            let fyrId = e.target.dataset.categoryId;
            let el = document.getElementById('userId');
            let userAccessToken = el.value;
            console.log(fyrId);

            axios.delete(apiUrl + "/api/Ledger/DeleteLedger?id=" + fyrId, {
                headers: {
                    Authorization: "Bearer " + userAccessToken
                }
            }).then(res => {
                console.log(res);
                if (res.data.success) {
                   // alert(res.data.message)
                    toastr.success(res.data.message)
                }
                getLedgers();
            })
                .catch(err => {
                    alert(err.error);
                })

        }

    </script>
}