@page
@model WebApp.UI2.Pages.MyBooks.FinancialYear.AddModel

@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Financial Year Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/MyBooks/FinancialYear/index">Financial Years</a></li>
                        <li class="breadcrumb-item active">Add Financial Year</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Add FinancialYear</h3>
                    <input type="hidden" value="@userId" id="userId" />
                    <input type="hidden" value="@Model.Input.CompanyId" id="cmpId" />
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data">

                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Name" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.Start" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datetimepicker-input" id="StartDate"
                                               data-toggle="datetimepicker" data-target="#StartDate" autocomplete="off" />
                                    </div>
                                    <span asp-validation-for="Input.Start" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.End" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datetimepicker-input" id="EndDate"
                                               data-toggle="datetimepicker" data-target="#EndDate" autocomplete="off" />
                                    </div>
                                    <span asp-validation-for="Input.End" class="text-danger"></span>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button onclick="AddCompany(event)" class="btn btn-info float-right" style="margin-left:20px">Save</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->


    </section>

</div>
<div class="panel-body" id="getResult1"></div>

@section scripts{
    @*<script src="~/js/product.js"></script>*@
    <script>
        //Date picker
        $('#StartDate').datetimepicker({
           /* format: 'L',*/
            format: 'YYYY/MM/DD'
        });
        $('#EndDate').datetimepicker({
            /* format: 'L',*/
            format: 'YYYY/MM/DD'
        });
        var apiUrl = '@Model.ApiUrl';
        axios.interceptors.request.use(function (config) {

            // spinning start to show
            // UPDATE: Add this code to show global loading indicator
            document.body.classList.add('loading-indicator');


            return config
        }, function (error) {
            return Promise.reject(error);
        });

        axios.interceptors.response.use(function (response) {

            // spinning hide
            // UPDATE: Add this code to hide global loading indicator
            document.body.classList.remove('loading-indicator');

            return response;
        }, function (error) {
            return Promise.reject(error);
        });


        function AddCompany(e) {
           // let confirmAction = confirm("Are you sure to delete this product?");
            performPostRequest(e);
        }

        var addFinancialYearRequest = {
            name: "f1",
            start: "2021-09-02T06:28:30.163Z",
            end: "2021-09-02T06:28:30.163Z",
            companyId: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        };
        function performPostRequest(e) {
            let userId = document.getElementById('userId');
            let fName = document.getElementById('Input_Name').value;
            let cmpId = document.getElementById('cmpId').value;
            let startDate = document.getElementById('StartDate').value;
            let endDate = document.getElementById('EndDate').value;
            addFinancialYearRequest.name = fName;
            addFinancialYearRequest.companyId = cmpId;
            addFinancialYearRequest.start = startDate;
            addFinancialYearRequest.end = endDate;

            let userAccessToken = userId.value;
            console.log(this.addFinancialYearRequest);

             axios.post(`${apiUrl}/api/FinancialYear/AddFinancialYear`, this.addFinancialYearRequest, {
                headers: {
                    Authorization: "Bearer " + userAccessToken
                }
            })
                 .then(function (response) {
                     console.log(response);
                     toastr.success('Financial Year Created Successfully')
                     window.location.href = '/MyBooks/FinancialYear/index'
                })
                .catch(function (response) {
                    console.log(error);
                    toastr.error('Some Error Occur!!')
                });
            e.preventDefault();
        }

        $('.toastrDefaultSuccess').click(function () {
            toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        });
        $('.toastrDefaultInfo').click(function () {
            toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        });
        $('.toastrDefaultError').click(function () {
            toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        });
        $('.toastrDefaultWarning').click(function () {
            toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        });
    </script>
}