@page
@model WebApp.UI2.Pages.MyBooks.Stock.UpdateStockVariantModel
@{
    var userId = User.Claims.FirstOrDefault(x => x.Type == "AcessToken").Value;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Stock Variant Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/MyBooks/Stock/index">Ledgers</a></li>
                        <li class="breadcrumb-item active">Update Stock Variant</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Update Stock Variant</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Input.Id" id="stockVariantId" />
                                <input type="hidden" value="@userId" id="userId" />
                                 <input type="hidden" value="@Model.Input.StockId" id="StockId" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label">Quantity</label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Quantity" class="form-control" disabled />
                                    </div>
                                    <span asp-validation-for="Input.ItemName" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label">Consumed Quantity</label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ConsumedQuantity" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.ConsumedQuantity" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.ItemName" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.ItemName" class="form-control" disabled />
                                    </div>
                                    <span asp-validation-for="Input.ItemName" class="text-danger"></span>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Input.Status" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.Status" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Input.Status" class="text-danger"></span>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button onclick="UpdateStockVariant(event)" class="btn btn-info float-right" style="margin-left:20px">Update</button>
                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.container-fluid -->


    </section>

</div>

@section scripts{
    @*<script src="~/js/product.js"></script>*@
<script>
    var apiUrl = '@Model.ApiUrl';

     function UpdateStockVariant(e) {
        // let confirmAction = confirm("Are you sure to delete this product?");
         performPostRequest(e);
     }

     var updateStockVariantRequest = {
         id: "3fa85f64-5717-4562-b3fc-2c963f66afa6",
           name: "string",
           srNo: 0,
           uniqueNumber: "string",
           status: "string",
           itemName: "string",
           description: "string",
           salePrice: 0,
           mrpPerUnit: 0,
           quantity: 0,
           consumedQuantity: 0,
           itemAmount: 0,
           rate: 0
     };
     function performPostRequest(e) {
         let userId = document.getElementById('userId');
         let stockVariantId = document.getElementById('stockVariantId').value;
          let stockId = document.getElementById('StockId').value;
         let consumedQuantity =parseFloat( document.getElementById('Input_ConsumedQuantity').value);
         let status = document.getElementById('Input_Status').value;
         updateStockVariantRequest.consumedQuantity = consumedQuantity;
          updateStockVariantRequest.status = status;
         updateStockVariantRequest.id = stockVariantId;

         let userAccessToken = userId.value;
         console.log(this.updateStockVariantRequest);

         axios.put(`${apiUrl}/api/StockVarients/UpdateStockVariant`, this.updateStockVariantRequest, {
             headers: {
                 Authorization: "Bearer " + userAccessToken
             }
         })
              .then(function (response) {
                  console.log(response);
                  if (response.data.success) {
                      toastr.success(response.data.description)
                      window.location.href = '/MyBooks/Stock/UpdateStock?Id='+stockId
                  } else {
                      toastr.error(response.data.description)
                  }
             })
             .catch(function (error) {
                 console.log(error);
                 toastr.error('Some Error Occur!!')
             });
         e.preventDefault();
     }
</script>
}